<div class="container col-12">
    <div class="row py-3">

        <div class="col-2"></div>
        <div class="col-8">
            <div class="sticky-top">
                <div class="container disable-select col-12" id="sticky-sidebar">
                    <h1 class="header">MediCom</h1>
                    <!-- </div> -->
                    <div class="row" id="text-info">
                        MediCom is an online tool for finding the top 10 most used medicines for each disease.
                        It uses data from <a class="link" href="https://clinicaltrials.gov/">https://clinicaltrials.gov/</a>  and searches the medicines that have been used the most for a given disease. Simply go to <a class="link" href="http://localhost:4200/tool">Tool</a> and start searching!
                    </div>
                    <!-- <ng-container *ngFor="let option of QualificationOptions | keyvalue:noSort">
                        <ul id="general-options">
                            <li [ngClass]="{activeItem: option.key == activeCard}" id="general-li"
                                (click)="setCurrentCard(option.key)">{{option.key}}</li>
                        </ul>
                    </ng-container> -->
                </div>
            </div>
        </div>
    </div>
</div>