<div class="container col-12" id="wrapper">
    <div class="row py-3">

        <div class="col-2"></div>
        <div class="col-8">
            <div class="sticky-top">
                <div class="container disable-select col-12" id="sticky-sidebar">
                    <h1 class="header">About</h1>
                    <!-- </div> -->
                    <div class="row" id="text-info">
                        Το παρόν project αναπτύχθηκε από τον φοιτητή Ιωάννη Καλογερόπουλο (Α.Μ.: 03116117), στα πλαίσια του μαθήματος Διαδίκτυο και Εφαρμογές.
                        <br>Για την ανάπτυξη του project χρησιμοποιήθηκαν τα frameworks Angular 10 και Flask.
                        <br>Ο κώδικας και το σχετικό documentation βρίσκεται στο <a class="link" href="https://github.com/jkalogero/Ntua-Appathon-2020">github</a>.
                        <br>Βίντεο με την παρουσίαση του project βρίσκεται στο <a class="link" href="https://github.com/jkalogero/Ntua-Appathon-2020">youtube</a>.
                    </div>
                    <!-- <ng-container *ngFor="let option of QualificationOptions | keyvalue:noSort">
                        <ul id="general-options">
                            <li [ngClass]="{activeItem: option.key == activeCard}" id="general-li"
                                (click)="setCurrentCard(option.key)">{{option.key}}</li>
                        </ul>
                    </ng-container> -->
                </div>
            </div>
        </div>
    </div>
</div>